<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<h1>Cars and Motors Inc.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid at, est nesciunt quaerat quasi tempora? A autem blanditiis doloribus dolorum expedita iure pariatur, quam quia, reiciendis repudiandae sed ullam.</p>
<table>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
    </tr>

</table>
Click on this link: <a href="https://www.cars.com">Cars website</a><br>

</body>
</html>