<!DOCTYPE html>
<html>
<head>
	<title>Registration-Form</title>
</head>
<body>
	<H2>Registration form</H2>
	<div id="reg-form">
		<form>
			<label for = "first-name">First name:</label>
			<input type="text" name="first-name" required>
			<label for = "middle-name">Middle name:</label>
			<input type="text" name="middle-name" >
			<label for = "last-name">last name:</label>
			<input type="text" name="last-name">
		<div>
			<label for = "gender">Gender:</label></br>
			<label for = "gender">Male:</label>
			<input type="radio" name="gender" >

			<label for = "gender">Female:</label>
			<input type="radio" name="gender" >
			
			<label for = "gender">Other:</label>
			<input type="radio" name="gender" >
		</div>

		<div>
			<label for = "email">Mail:</label>
			<input type="email" name="email" >

			<label for = "Pwd">Pwd:</label>
			<input type="password" name="Pwd" >
		
		</div>

		<div>
			<label for = "Month">Birthday:</label>
			<select name="Month" >
				<option value="">Select</option>
				<option value="Jan">January</option>
				<option value="Feb">February</option>
				<option value="Mar">March</option>
				<option value="Apr">April</option>
		</div>

			<input type="0" name="agree">
			<button type="submit">Submit</button>
		</form>
		</div>

</body>
</html>