<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="green">
<h1>THIS IS HTML</h1>
Hi, my name is {{name}} and I am from {{place}}.

<h3>My education details are:</h3>
I studied my {{course}} in {{institute}} located at {{location}} and I passed with {{percent}} percentage.

</body>
</html>

